@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bokor&family=Luckiest+Guy&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Rubik", sans-serif;
}

#logo {
    font-family: "Bokor", serif;
}

.bannerInitial .swiper-button-next::after,
.bannerInitial .swiper-button-prev::after {
    font-size: 3vh;
}

.bannerInitial .swiper-button-next:hover:after,
.bannerInitial .swiper-button-prev:hover::after {
    font-size: 4vh;
}

.bannerInitial .swiper-pagination-bullet-active {
    background-color: #fff;
}

.bannerInitial .swiper-pagination-bullet {
    height: 1vh;
    width: 3vw;
    border-radius: 0;
}

.bannerBestSellers .swiper-button-next::after,
.bannerBestSellers .swiper-button-prev::after {
    content: '';
}

.bannerBestSellers .swiper-button-next svg,
.bannerBestSellers .swiper-button-prev svg {
    position: absolute;
    transform: translateY(50%);
    height: 6vh;
    width: 2vw;
    stroke: #000;
    transition: transform 0.3s ease;
}

.bannerBestSellers .swiper-button-next:hover svg,
.bannerBestSellers .swiper-button-prev:hover svg {
    transform: translateY(45%);
}